asgiref>=3.6,<4
boto3
botocore
certifi
chardet
django-admin-honeypot-updated-2021
django-admin-thumbnails==0.2.5
django-session-timeout==0.1.0
django-storages
idna
Django==4.2.11
jmespath
Pillow==11.1.0
psycopg[binary]==3.3.4
python-dateutil
python-decouple>=3.8
pytz
requests>=2.28.0
s3transfer
six
sqlparse
urllib3>=2.0.0
dj-database-url
